<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../css/normalize.css" />
    <link rel="stylesheet" href="../../../../css/reset.css" />
    <link rel="stylesheet" href="./index.css">
    <title>等高布局</title>
</head>

<body>
    <div class="f__child-continer">
        <div class="f__header">
            <h1>等高布局</h1>
        </div>
        <div class="f__body">

            <div class="cards">
                
                <div class="card">
                    <div class="photo">图像</div>
                    <h3>卡片标题1</h3>
                    <p>小白蘑菇汤</p>
                    <button>Button</button>
                </div>

                <div class="card">
                    <div class="photo">图像</div>
                    <h3>卡片标题2</h3>
                    <p>这里只有一句话</p>
                    <button>Button</button>
                </div>
                
                <div class="card">
                    <div class="photo">图像</div>
                    <h3>卡片标题3</h3>
                    <p>这里的描述有好多好多好多好多好多好多好多好多好多好多好多好多好多好多好多</p>
                    <button>Button</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>