<!DOCTYPE html>
<html lang="en" class="t__bgc--colorful">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>模板</title>
    <link rel="stylesheet" href="../../css/normalize.css" />
    <link rel="stylesheet" href="../../css/reset.css" />
    <link rel="stylesheet" href="./css/common.css" />
    <link rel="stylesheet" href="./css/index.css" />
  </head>
  <body>
    <div class="t__box--container .f__bgc--frosted_glass">
      <div class="t__side--left">
        <ul class="t__nav--list">
          <li class="t__nav--item">
            <button class="t__button t__button--light">按钮</button>
          </li>
          <li class="t__nav--item">
            <button class="t__button t__button--light">按钮</button>
          </li>
        </ul>
      </div>
      <div class="t__main--right">right</div>
    </div>
  </body>
  <script src="./js/button.js"></script>
</html>
