<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../css/normalize.css" />
    <link rel="stylesheet" href="../../../../css/reset.css" />
    <link rel="stylesheet" href="./index.css">
    <title>九宫格布局</title>
</head>

<body>
    <div class="f__child-continer">
        <div class="f__header">
            <h1>九宫格布局</h1>
        </div>
        <div class="f__body">
            <div class="container--fater">
                <div class="container in-9">
                    <div class="item-9"></div>
                    <div class="item-9"></div>
                    <div class="item-9"></div>
                    <div class="item-9"></div>
                    <div class="item-9"></div>
                    <div class="item-9"></div>
                    <div class="item-9"></div>
                    <div class="item-9"></div>
                    <div class="item-9"></div>
                </div>
                <div class="container in-2-4">
                    <div class="item-2">
                        <div class="mini-2"></div>
                    </div>
                    <div class="item-4">
                        <div class="mini-4"></div>
                        <div class="mini-4"></div>
                        <div class="mini-4"></div>
                        <div class="mini-4"></div>
                    </div>
                </div>
                <div class="container">
                    <div class="asp-6-3">
                        <div class="asp-4-3"></div>
                        <div class="asp-2-3"></div>
                    </div>
                </div>



            </div>

        </div>
    </div>
</body>

</html>