<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../css/normalize.css" />
    <link rel="stylesheet" href="../../../../css/reset.css" />
    <link rel="stylesheet" href="./index.css">
    <title>圣杯布局</title>
</head>

<body>
    <div class="f__child-continer">
        <div class="f__header">
            <h1>圣杯布局</h1>
        </div>
        <div class="f__body">
            <div class="container">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
            </div>
        </div>
    </div>
</body>

</html>