<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../css/normalize.css" />
    <link rel="stylesheet" href="../../../../css/reset.css" />
    <link rel="stylesheet" href="./index.css">
    <title>水平居中对齐</title>
</head>

<body>
    <div class="f__child-continer">
        <div class="f__header">
            <h1>水平居中对齐</h1>
        </div>
        <div class="f__body">

            <!-- 单行（或单列）水平垂直居中 -->
            <div class="container container--single">
                <div style="width:100px;height:100px;background-color:rgba(255, 0, 0, 0.744);border-radius:20px"></div>
            </div>
            <!-- 多行（或多列）水平垂直居中 -->
            <div class="container container--multiple">
                <h3>xiao白蘑菇汤</h3>
                <p>只需要将对齐方式设置为居中</p>
                <p>justify-contetn:center</p>
                <p>align-contetn:center</p>
            </div>
        </div>
    </div>
</body>

</html>