<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../css/normalize.css" />
    <link rel="stylesheet" href="../../../../css/reset.css" />
    <link rel="stylesheet" href="./index.css">
    <title>基础知识</title>
</head>

<body>
    <div class="f__child-continer">
        <div class="f__header">
            <h1>基础知识</h1>
        </div>
        <div class="f__body">
            <h2>定义grid布局</h2>
            <div class="g__container">
                <div class="g__item bg-red">red</div>
                <div class="g__item bg-blue">blue</div>
            </div>
            <h2>grid-template-columns和grid-template-rows</h2>
            <div class="g__container2">
                <div class="g__item bg-red">red</div>
                <div class="g__item bg-blue">blue</div>
                <div class="g__item bg-yellow">yellow</div>
                <div class="g__item bg-pink">pink</div>
                <div class="g__item bg-green">green</div>
                <div class="g__item bg-red">red</div>
                <div class="g__item bg-blue">blue</div>
                <div class="g__item bg-yellow">yellow</div>
                <div class="g__item bg-pink">pink</div>
                <div class="g__item bg-green">green</div>
                <div class="g__item bg-red">red</div>
                <div class="g__item bg-blue">blue</div>
                <div class="g__item bg-yellow">yellow</div>
                <div class="g__item bg-pink">pink</div>
                <div class="g__item bg-green">green</div>
            </div>
            <h2>grid-template-areas</h2>
            <div id="container">
                <div class="item item-1">Header</div>
                <div class="item item-2">2</div>
                <div class="item item-3">3</div>
                <div class="item item-4">4</div>
                <div class="item item-5">5</div>
            </div>
            <h2>使用 grid-auto-columns 和 grid-auto-rows </h2>
            <div class="g__container3">
                <div class="g__item bg-red">red</div>
                <div class="g__item bg-blue">blue</div>
                <div class="g__item bg-red">red</div>
                <div class="g__item bg-blue">blue</div>
            </div>
        </div>
    </div>
</body>

</html>