<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../css/normalize.css" />
    <link rel="stylesheet" href="../../../../css/reset.css" />
    <link rel="stylesheet" href="./index.css">
    <title>12 列网格布局</title>
</head>

<body>
    <div class="f__child-continer">
        <div class="f__header">
            <h1>12 列网格布局</h1>
        </div>
        <div class="f__body">
            <div class="body">
                <div class="container">
                    <div class="f__12"></div>
                    <div class="f__12"></div>
                    <div class="f__12"></div>
                    <div class="f__12"></div>
                    <div class="f__12"></div>
                    <div class="f__12"></div>
                    <div class="f__12"></div>
                    <div class="f__12"></div>
                    <div class="f__12"></div>
                    <div class="f__12"></div>
                    <div class="f__12"></div>
                    <div class="f__12"></div>
                </div>

                <div class="container">
                    <div class="f__6"></div>
                    <div class="f__6"></div>
                    <div class="f__6"></div>
                    <div class="f__6"></div>
                    <div class="f__6"></div>
                    <div class="f__6"></div>
                </div>
                <div class="container">
                    <div class="f__4"></div>
                    <div class="f__4"></div>
                    <div class="f__4"></div>
                    <div class="f__4"></div>
                </div>
                <div class="container">
                    <div class="f__3"></div>
                    <div class="f__3"></div>
                    <div class="f__3"></div>
                </div>
                <div class="container">
                    <div class="f__2"></div>
                    <div class="f__2"></div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>